---
---

#header_wrap {
    background: #00597f;
}

#forkme_banner {
    background: url('../images/blacktocat.png') #e3a200 no-repeat 95% 50%;
}

#footer_wrap {
    background: #00597f;
}

@import "{{ site.theme }}";
